body{
    background-color: rgb(30, 23, 63);
}

.container{
    display: flex;
    justify-content: center; /* Centrer horizontalement */
    align-items: center; /* Centrer verticalement */
    flex-direction: column;
    height: 100vh;
}
.identifiant{
    display: flex;
    flex-direction: column;
    
    background-color: rgb(255, 255, 255);
    padding: 45px;
    border-radius:10px ;
    
}
input{
    border: 1px solid;
    border-radius: 8px;
    padding:15px;
    margin: 5px;
    width: 250px;
}

button .id_input{
    font-size: 20px;
    color: white;
    background-color: rgb(30, 23, 63);
    border: 1px solid;
    border-radius: 5px;
    width: 155px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 15px;

}
a{  
    text-decoration: none;
    color: rgb(30, 23, 63);
    text-decoration: none ;
    text-align: center;
}
h1{
    text-align: center;
    color:rgb(30, 23, 63);
}


.next_Q{
    background-color: rgb(30, 23, 63);
    color: white;
    border-radius: 5px;
    margin-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
    cursor: pointer;
}

form{
    display: flex;
    flex-direction: column;
}